table {
    width: 570px;
    height: 300px;
    background-color: #EBEEF3;
    border-radius: 6px;
    color: #262626;
}

.table-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0%;
    color: #262626;
}

tr {
    border-top: #262626 1px solid;
}

.club {
}

.img-table {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    gap: 4px;
}